{% extends 'base.html.twig' %}

{% block title %}New CsPlayers{% endblock %}

{% block content %}
    <h1>Create new CsPlayers</h1>

    {{ include('players/admin_players/_form.html.twig') }}

    <a href="{{ path('admin_players_index') }}">back to list</a>
{% endblock %}
