<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteRule .* - [E=APP_SUBDIR:/lonis4]
    RewriteCond %{REQUEST_FILENAME} !%{ENV:APP_SUBDIR}/public/.*
    RewriteRule (.*) %{ENV:APP_SUBDIR}/public/index.php [QSA,L]
</IfModule>