{% macro InfiniteScroll_render() %}
	<center>
		<div class="scroller-status">
			<div class="infinite-scroll-request" align="center">
				<div class="ui active centered inline loader"></div>
			</div>

			<p class="infinite-scroll-error" align="center"></p>
		</div>

		{% set page = app.request.get('page')|default(1) + 1 %}
		{% set routeName = app.request.attributes.get('_route') %}
		{% set routeParams = app.request.attributes.get('_route_params')|merge({'page': page}) %}
		{% set nextPath = path(routeName, routeParams) %}
		
		<a class="pagination__next" href="{{ nextPath }}"></a>
	</center>
{% endmacro %}