<div class="ui">

	<a href="locale/en/" class="ui mini circular inverted basic button">
		&nbsp;&nbsp;<i class="flag gb" title="English"></i>
	</a>
	
	<a href="locale/ru/" class="ui mini circular inverted basic button">
		&nbsp;&nbsp;<i class="flag ru" title="Russian"></i>
	</a>
	
</div>
