    <a href="http://steamcommunity.com/groups/k_lan" target="_blank" title="groups/k_lan">
    <i class="large icon steam"></i></a>

    <a href="http://vk.com/club10526271" target="_blank" title="club10526271">
    <i class="large icon vk"></i></a>
