<h1 class="site_name" align="center">
	{site_name}
	<p>Counter-Strike</p>
</h1>

 <div class="home ui grid">
	<div class="thirteen wide stretched column">

		<div class="ui tab segment active" data-tab="info">
			<img src="{image(home/info.png)}">
			<p>У нас вы легко найдете сервер по душе!
			<p>Любите безостановочную стрельбу - добро пожаловать на CSDM.
			<p>Вы сторонник классической игры - вас всегда ждут на [K.lan] Classic.
			<p>Вам нравится атмосфера страха и ужаса -
			<br>попробуйте спасти мир от полчищ зомби на нашем Zombie Plague-сервере!
		</div>
		<div class="ui tab segment" data-tab="cs">
			<img src="{image(home/cs.png)}">
			<p>Это классический сервер, без лишних плагинов,
			мешающих игре. На нашем сервере вас ничего не будет отвлекать,
			ничто не помешает вам убить врага как можно быстрей и эффективнее.
			<p><b>cs.klan-hub.ru:27016</b>
		</div>
		<div class="ui tab segment" data-tab="dm">
			<img src="{image(home/dm.png)}">
			<p>Неповторимость нашего DeathMatch'а в том,
			что на сервере стоит уникальный мод Adrenalin UT Style,
			что делает игру более динамичной, захватывающей и интересной.
			<p><b>cs.klan-hub.ru:27015</b>
		</div>
		<div class="ui tab segment" data-tab="kz">
			<img src="{image(home/kz.png)}">
			<p>Посаревнуйтес в быстроте прохождения карт
			на нашем сервере Kreedz, может Вы сможете
			установить новый Мировой Рекорд.
			<br>Всего на сервере более 4800 карт.
			<p><b>cs.klan-hub.ru:27017</b>
		</div>
		<div class="ui tab segment" data-tab="zm">
			<img src="{image(home/zm.png)}">
			<p>Zombie Plague с уникальной статистикой, с уникальными классами
			и неповторимым набором экстра-предметов. Все придает игре
			затягивающую атмосферу нашествия полчищ зомби, остановить которых
			можешь лишь ты.
			<p><b>cs.klan-hub.ru:27018</b>
		</div>

	</div>
	<div class="three wide column">
		<div class="home ui vertical fluid right tabular menu">
			<div class="item active" data-tab="info">Инфо</div>
			<div class="item" data-tab="cs">Классик</div>
			<div class="item" data-tab="dm">Дезматч</div>
			<div class="item" data-tab="kz">Прыжки</div>
			<div class="item" data-tab="zm">Зобоки</div>
		</div>	
	</div>
</div>