<form action="servers/find" class="ui form" method="get">
<div class="ui search">
	<div class="ui left icon input">
		<i class="search icon"></i>
		<input type="search" class="prompt" placeholder="Search..." 
			name="search" value="{{ search }}" autocomplete="off">
	</div>
</div>
</form>