@charset "UTF-8";

@import "../libraries/semantic-ui-forest/semantic.lonis.css";
@import 'placeholder.css';
@import 'scrollbar.black.css';
@import 'semantic-magic.css';
@import '../libraries/records/records.css';
@import '../libraries/cs-guns/guns.css';
@import '../libraries/cake/cake.css';

@font-face {
    font-family: 'Counter-Strike';
    src: url("fonts/Counter-Strike.ttf") format('truetype');
    font-style: normal; font-weight: normal; font-variant: normal;
    text-decoration: inherit; text-transform: none;
}

main > .ui.segment {
    border-radius: 20px;
}

h1 {
    font: 24pt Counter-Strike !important;
}

button {
    cursor: pointer;
}

.header.brand {
    font: 12pt Counter-Strike !important;
}

.navbar {
    margin-top: 40px;
}

.navigation {
    text-align: center;
    margin-top: 10px;
}