@charset "UTF-8";

@font-face {
    font-family: 'Counter-Strike';
    src: url("fonts/Counter-Strike.ttf") format('truetype');
    font-style: normal; font-weight: normal; font-variant: normal;
    text-decoration: inherit; text-transform: none;
}

body {
    background-color: black;
    overflow-y: scroll;
    z-index: 0;
}

main > .ui.segment {
    border-radius: 20px;
}

h1 {
    font: 24pt Counter-Strike !important;
}

.navbar {
    margin-top: 40px;
}

.navigation {
    text-align: center;
    margin-top: 10px;
}

/* IMAGES */

.cake {
    position: absolute;
    right: -50px;
    background: url("images/cakes.png") no-repeat -300px -200px;
    width: 100px; height: 100px;
    z-index: 10;
}
.cake.v0 {background-position: 0px 0px;}
.cake.v1 {background-position: -100px 0px;}
.cake.v2 {background-position: -200px 0px;}
.cake.v3 {background-position: 0px -100px;}
.cake.v4 {background-position: -100px -100px;}
.cake.v5 {background-position: -200px -100px;}