.ui.grid {
    margin-top: 10px;
}

.ui.grid .ui.menu.fluid {
    margin-left: -2rem;
    border-left: 0!important;
    width: calc(100% + 2rem) !important;
}

.ui.grid .tab {
    text-align: center;
}

.ui.sidebar {
    overflow: visible !important;
}

.ui.sidebar .dropdown.item .menu {
    top: 0px !important;
}