{% macro InfiniteScroll_render(pagination) %}
	<center>
		<div class="scroller-status">
			<div class="infinite-scroll-request loader-ellips" align="center">
			</div>
			<p class="infinite-scroll-error" align="center"></p>
		</div>

		<a class="pagination__next" href="{{ pagination.pagination_next }}"></a>
	</center>
{% endmacro %}