{% macro InfiniteScroll_render(pagination) %}
	<center>
		<div class="scroller-status">
			<div class="infinite-scroll-request" align="center">
				<div class="ui active centered inline loader"></div>
			</div>

			<p class="infinite-scroll-error" align="center"></p>
		</div>
		
		<a class="pagination__next" href="{{ pagination.pagination_next }}"></a>
	</center>
{% endmacro %}