<div class="ui">
	
	<a href="en/" class="ui mini circular inverted secondary button">
		&nbsp;&nbsp;<i class="flag gb" title="English"></i>
	</a>
	
	<a href="ru/" class="ui mini circular inverted basic button">
		&nbsp;&nbsp;<i class="flag ru" title="Russian"></i>
	</a>
	
</div>
