<link rel="stylesheet" href="assets/libraries/preloader/preloader.css"/>
<script src="assets/libraries/preloader/preloader.js"></script>

<div id="preloaderbg" class="centerbg1">
  <div class="centerbg2">
    <div id="preloader"></div>
  </div>
</div>