<center>
	<h1 class="ui header">
		<a href="{{ url('index') }}">K-lan</a> ::
		{{ title }}
	</h1>
	
	<div class="ui text container segment">
		{# <iframe src="{{ url_ljstats }}" style="position: realtive; width: 100%; min-height: 520px; border: 0;"></iframe> #}
		{{ html|raw }}
	</div>
</center>
