{% extends 'base.html.twig' %}

{% block title %}Edit CsPlayers{% endblock %}

{% block body %}
    <h1>Edit CsPlayers</h1>

    {{ include('cs_players/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cs_players_index') }}">back to list</a>

    {{ include('cs_players/_delete_form.html.twig') }}
{% endblock %}
